.Banner {
    background: linear-gradient(180deg, #E5F8FE 14.25%, rgba(255, 255, 255, 0) 100%) !important;
    /* padding: 0 70px; */

}


.menuBtn {
    color: #3282AD !important;
}

.signup {
    width: 123px;
    height: 54px;
    color: #fff;
    background: rgba(5, 100, 153, 0.8);
    border-radius: 44px;
    text-align: center;
    margin: 0 auto;
}

Li {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-transform: capitalize;
    color: #3A3A3A;

}


.visitButton {
    background: #D2F4FF;
    border-radius: 44px;
    margin: 133px 0 48px 0;
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
}

.titleColor {
    color: #3282AD;

}

.bannerButton {
    border: 2px solid #3282AD;
    color: #3282AD;
    padding: 16px 32px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    margin-top: 64px;
    margin-bottom: 136px;
}

.Banner {
    background: linear-gradient(180deg, #E5F8FE 14.25%, rgba(255, 255, 255, 0) 100%) !important;
    /* max-width: 1366px;
    margin: 0 auto;
    background-color: aquamarine !important;
    padding: 0 70px; */
    /* width: 1366px; */
    /* height: 848px; */
    /* border: 2px solid; */
}

.bannerImage {
    width: 400px;
    height: 410px;
    /* margin-top: 230px; */
}

/* 
.bannerContainer {
    background-image: url('../../assets/line.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
} */

.imageBg2 {
    background-image: url('../../assets/banner0.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.image3 {
    background-image: url('../../assets/banner1.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 150px;
}

.imageBg {
    background-image: url('../../assets/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}


@media screen and (max-width:768px) {
    .bannerImage {
        width: 262.42px;
        height: 265.13px;
    }

    .title {
        font-size: 32px;

    }

    .navLogo {
        width: 70.97px;
        height: 40px;
    }

    .bannerButton {
        padding: 8px 16px;
        line-height: 32px;
        margin-top: 32px;
        margin-bottom: 100px;
    }


}

@media screen and (max-width:450px) {

    .hide {
        display: none;
    }

    .bannerImage {
        display: none;
    }

    .title {
        margin-top: 112px;

    }


}